# ========================
# Archivos de datos crudos y salidas intermedias
# ========================

Output/Intermediate/**
Data/Records/RESPALDO/**

# ========================
# Archivos grandes de datos (geoespaciales, CSV, etc.)
# ========================
*.csv
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qpj
*.zip
*.tif
*.tiff

# ========================
# Archivos de R
# ========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# ========================
# Archivos de Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# ========================
# Otros archivos temporales
# ========================
.DS_Store
Thumbs.db
